<footer class="site-footer">
  <div class="container footer-inner">
    <span>&copy; <span id="year"></span> {{ site.bedrijfsnaam }} &middot; {{ contact.plaats }}</span>
    <span>{{ contact.adres_straat }}, {{ contact.adres_postcode_plaats }} &middot; {{ site.telefoon }}</span>
  </div>
</footer>
